* {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --primary-color: hsl(189, 76%, 43%);
    --section-name-color: hsl(39, 100%, 12%);
    --backdrop-color: rgba(0, 0, 0, 0.5);
    --border-color: hsl(205, 14%, 84%);
    --checkbox-color: hsl(141 39% 14%);
    --checkbox-background-color: hsl(140, 35%, 92%);


    --primary-background: hsl(0, 0%, 100%);
    --secondary-background: hsl(43, 20%, 93%);
    --triary-background: hsl(190, 78%, 22%);


    /* spacing */
    /* 0.125rem */
    --space-3xs: 2px;
    /* 0.25rem */
    --space-2xs: 4px;
    /* 0.5rem */
    --space-xs: 8px;
    /* 0.75rem */
    --space-sm: 12px;
    /* 1rem */
    --space-md: 16px;
    /* 1.5rem */
    --space-lg: 24px;
    /* 2rem */
    --space-xl: 32px;
    /* 3rem */
    --space-2xl: 48px;
    /* 4rem */
    --space-3xl: 64px;

    max-width: 1400px;
    background-color: var(--secondary-background);
    margin-inline: auto;
    line-height: 1.4;

    font-family: "sn-pro", Arial, Tahoma, Verdana, sans-serif;

    p {
        font-size: 16px;
    }
}

@font-face {
    font-family: "sn-pro";
    src: url('../assests/SN_Pro/SNPro-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

.visually-hidden:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.primary-button {
    border: none;
    background-color: hsl(191, 78%, 25%);
    color: var(--primary-background);
    padding: var(--space-xs) var(--space-md);
    border-radius: 10px;
    align-self: flex-end;
}