header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-md);

    button {
        background: none;
        border: none;
    }
}

main {
    margin-inline: auto;
    background-color: var(--secondary-background);

    section {
        margin-block: var(--space-xl);
        padding-inline: var(--space-md);

        article {
            margin-block: var(--space-md);
            background-color: var(--primary-background);
            padding: var(--space-md);
            border-radius: var(--space-md);
            filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.200));

            ul {
                margin-block: var(--space-md);

                li {
                    display: grid;
                    grid-template-rows: 2fr;
                    grid-template-columns: 3fr;
                    grid-auto-flow: column;
                    align-items: center;
                    margin-block: var(--space-xs);

                    p {
                        grid-row: 2;
                    }

                    form {
                        grid-row: 2;
                    }

                    .round-date {
                        grid-row: 1;
                    }

                    .round-type {
                        background-color: hsl(191, 52%, 94%);
                        color: hsl(191, 78%, 15%);
                        margin-inline-end: var(--space-xs);
                        padding: var(--space-2xs) var(--space-xs);
                        border-radius: 10px;

                    }
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-block: var(--space-md);
        background-color: var(--primary-background);
        padding: var(--space-md);
        border-radius: var(--space-md);
        margin-inline: var(--space-md);

        label {
            display: flex;
            flex-direction: column;
            padding-block: var(--space-md);

            input[text] {
                border: none;
            }
        }

        button {
            border: none;
            background-color: hsl(191, 78%, 25%);
            color: var(--primary-background);
        }
    }

    .main-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-background);
        padding-block-end: var(--space-md);

        p:nth-of-type(2) {
            background: hsl(140, 35%, 92%);
            color: hsl(141 39% 14%);
            padding: var(--space-xs) var(--space-md);
            border-radius: 10em;
        }
    }
}