header {
    background-color: var(--primary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);

    h1 {
        font-size: var(--space-md);
    }
}

main {
    margin-inline: auto;

    .main-score {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-background);
        padding-block-end: var(--space-md);

        p:nth-of-type(2) {
            font-size: var(--space-xl);
        }

        p:nth-of-type(3) {
            background: var(--checkbox-background-color);
            color: var(--checkbox-color);
            padding: var(--space-xs) var(--space-md);
            border-radius: 10em;
        }
    }

    section {
        margin-block-end: var(--space-xl);
        padding-inline: var(--space-md);

        hgroup {
            margin-inline: var(--space-md);
            margin-block-start: var(--space-xl);

            p {
                color: var(--section-name-color);
            }
        }

        article {
            margin-block: var(--space-md);
            background-color: var(--primary-background);
            padding: var(--space-md);
            border-radius: var(--space-md);
            filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.200));

            ul {
                margin-block: var(--space-md);

                li {
                    display: grid;
                    grid-template-rows: 2fr;
                    grid-template-columns: 3fr;
                    grid-auto-flow: column;
                    align-items: center;
                    margin-block: var(--space-xs);

                    p {
                        grid-row: 2;
                    }

                    form {
                        grid-row: 2;
                    }

                    .round-date {
                        grid-row: 1;
                    }

                    .round-type {
                        background-color: hsl(191, 52%, 94%);
                        color: hsl(191, 78%, 15%);
                        margin-inline-end: var(--space-xs);
                        padding: var(--space-2xs) var(--space-xs);
                        border-radius: 10px;

                    }

                    .delete {
                        margin-inline-start: var(--space-sm);
                    }
                }
            }
        }
    }

    #add-score {
        border: none;
        background-color: var(--primary-background);
        padding: var(--space-md);
        border-radius: var(--space-md);

        @supports selector(popover) {
            width: 100dvw;
            position-area: bottom;

            &:popover-open {
                display: flex;
                flex-direction: column;
            }
        }

        @supports not selector(popover) {
            display: flex;
            flex-direction: column;
            margin: var(--space-md);
        }

        label {
            display: flex;
            flex-direction: column;
            padding-block: var(--space-md);

            input[type="date"],
            input[type="number"],
            input[type="text"] {
                padding: var(--space-xs);
                border-radius: 10px;
                border: 2px solid var(--border-color);

            }

            &:has(input[type="checkbox"]) {
                flex-direction: row;
                background-color: var(--checkbox-background-color);
            }
        }
    }

    ::backdrop {
        background-color: var(--backdrop-color);
    }
}